/* 弹性盒子 */

.box {
  display: flex;
}

.box-lr {
  flex-direction: row;
}

.box-rl {
  flex-direction: row-reverse;
}

.box-tb {
  flex-direction: column;
}

.box-bt {
  flex-direction: column-reverse;
}

.box-pack-center {
  justify-content: center;
}

.box-pack-start {
  justify-content: flex-start;
}

.box-pack-end {
  justify-content: flex-end;
}

.box-pack-between {
  justify-content: space-between;
}

.box-pack-around {
  justify-content: space-around;
}

.box-align-center {
  align-items: center;
}

.box-align-start {
  align-items: flex-start;
}

.box-align-end {
  align-items: flex-end;
}

.box-center-center {
  align-items: center;
  justify-content: center;
}

.self-align-center {
  align-self: center;
  margin: 0 auto;
}

.self-align-start {
  align-self: flex-start;
}

.self-align-end {
  align-self: flex-end;
}

.self-align-stretch {
  align-self: stretch;
}

.box-wrap {
  flex-wrap: wrap;
}

.box-nowrap {
  flex-wrap: nowrap;
}

.flex {
  flex: 1;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.fs24 {
  font-size: 24px;
}

.fs26 {
  font-size: 26px;
}

.fs28 {
  font-size: 28px;
}

.fs32 {
  font-size: 32px;
}

.fs36 {
  font-size: 36px;
}

.toast {
  z-index: 2003 !important;
}

.bg-f {
  background: #FFFFFF;
}

.mint-tab-item-label {
  font-size: 36pr !important;
  color: inherit;
  line-height: 1;
}