.article {
    .article-wrap {
      padding: 60pr 40pr 0;
    }
    .article-title {
      font-size: 44pr;
      font-weight: bold;
      white-space: pre-line;
      text-align: justify;
      line-height: 1.6;
    }
    .article-content {
      padding-top: 60pr;
    }
  }