.article {
    .article-wrap {
      // padding: 60pr 40pr 0;
    }
    .article-title {
      padding: 60pr 40pr 0;
      font-size: 40pr;
      font-weight: 700;
      white-space: pre-line;
      text-align: justify;
      line-height: 1.6;
    }
    .focus-bar {
      padding: 0 40pr 0;
    }
    .article-content {
      padding: 60pr 40pr 0;
      padding-top: 60pr;
    }
    .like-bar {
      padding: 0 40pr 0;
    }
  }