.essay {
    .essay-wrap {
      margin-top: 20px;
      padding: 5.33vw 4vw 0;
    }
    .essay-container {}
    .essay-title {
      font-size: 20px;
      font-weight: bold;
      white-space: pre-line;
      text-align: justify;
      line-height: 1.6;
    }
    .essay-content {
      padding-top: 5.33vw;
    }
  }